@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Okra,;
}
.section1{
    height: 15vh;
    width:100vw;
    /* background-color: rgb(255, 238, 230); */

}
.navbar{
    position:fixed;
    height: 100px;
    width:100vw;
    display: flex;
    background-color:rgb(255, 238, 230);
    box-shadow: 5px 5px 8px rgb(255, 71, 26);
    z-index: 1;
}
.logo p{
    height: 100px;
    width: 50vw;
    font-size: 30px;
    font-family: Great Vibes;
    color: rgb(255, 71, 26);
    margin-top: 30px;
    margin-left: 50px;
    font-weight: 400;
    text-shadow: 5px 5px 8px rgb(255, 71, 26);
   
}
.navbar_items{
    padding-right: 100px;
    font-family: Okra, Helvetica, sans-serif;
    margin-top: 30px;

 }
.navbar a{
    font-size: 20px;
    margin-right: 50px;
    color:rgb(255, 163, 102);
    font-weight: 520;
    text-decoration: none;
    position: relative;
}
a:after{
    content:"";
    position:absolute;
    background-color:rgb(255, 71, 26);
    height: 5px;
    width:0;
    left: 0;
    bottom:-10px;
    transition: 0.3s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navbar a:hover:after{
    width:100%;

}
@media (min-width:350px) and (max-width:1100px){
    .body{
        font-size:10px;
    }
    .navbar{
        position:fixed;
        height: 100px;
        width:100%;
        display: flex;
        background-color:rgb(255, 238, 230);
        box-shadow: 5px 5px 8px rgb(255, 71, 26);
    }
    
    .logo p{
        height: 50px;
        width: 15vw;
        font-size: 20px;
        font-family: Great Vibes;
        color: rgb(255, 71, 26);
        margin-top: 45px;
        margin-left: 10px;
        font-weight: bold;
        text-shadow: 5px 5px 8px rgb(255, 71, 26);
        text-wrap: nowrap;
       
    }
    
    .navbar a{
        font-size: 10px;
        margin-right: 10px;
        color:rgb(255, 163, 102);
        font-weight: 520;
        text-decoration: none;
        position: relative;
    
    }
    .navbar_items{
        display: flex;
        justify-content: left;
        text-wrap: nowrap;
        width: 50px;
        margin-left: 70px;
        margin-top: 50px;
    }
    a:after{
        content:"";
        position:absolute;
        background-color:rgb(255, 71, 26);
        height: 2px;
        width:0;
        left: 0;
        bottom:35px;
        transition: 0.3s;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .navbar a:hover:after{
        width:100%;
    
    }
}

    

    

.section2{
    height: 100vh;
    width:100vw;
    /* background-color: rgb(255, 238, 230); */
    display: flex;


}
.first_part{
    height: 80vh;
    width: 85vw;
    padding-top: 200px;
    padding-left: 100px;
}
.title1{
    height: 80px;
    display: flex;
    justify-content: center;
      
}
.title1 p{
    text-shadow:2px 2px 8px  rgb(255, 71, 26);
    font-size: 65px;
    font-family: Noto Sans;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(20),cursor.9s step-end infinite;
    border-right: 4px solid rgb(255, 71, 26);
    color:rgb(255, 71, 26);

}
@keyframes cursor{
    50%{
        border-color:transparent;
    }

}
@keyframes typing{
    0%
    {width:0}
    100%{
        width:40%;
    }
}
.title2{
    margin-top:0px;
    display:flex;
    justify-content: center;
}
.title2 H1{
    padding-top: 20px;
    color:rgb(0, 32, 128);
    text-shadow: 5px 5px 10px rgb(255, 71, 26);
}
.profissional_summary H3{
    margin-top:40px;
    height:50px;
    display: flex;
    text-align: center;
    font-family: Quiksand;
    text-overflow: wrap;
    font-weight: 200;
    color:rgb(0, 32, 128);

}
.Button{
    margin-top:55px;
    height:30px;
    display: flex;
    justify-content: center;
    
}
.Button a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    
    
}
button{
    width: 100px;
    background-color: rgb(255, 71, 26);
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    transition: 1s;
    

}
button:hover{
    transform:scale(1.2);
    z-index: 2;
}
/* .second_part{
    height:80vh;
    width:30vw;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;

}

img{
    filter:drop-shadow(5px 5px 10px #555);
    object-fit: cover;
    z-index: -1;

   
    
} */
@media (min-width:350px) and (max-width:1100px){
    .section2{
        height: 100vh;
        width:100%;
        /* background-color: rgb(255, 238, 230); */
        display: flex;
    
    
    }
    .first_part{
        height: 10vh;
        width: 85%;
        padding-top: 140px;
        padding-left: 50px;
    }
    .title1{
        height: 30px;
        display: flex;
        justify-content: center;
    }
    .title1 p{
        text-shadow:2px 2px 8px  rgb(255, 71, 26);
        font-size: 20px;
        font-family: Noto Sans;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 4s steps(20),cursor.9s step-end infinite;
        border-right: 2px solid rgb(255, 71, 26);
        color:rgb(255, 71, 26);
    
    }
    @keyframes cursor{
        50%{
            border-color:transparent;
        }
    
    }
    @keyframes typing{
        0%
        {width:0}
        100%{
            width:80%;
        }
    }
    .title2{
        margin-top:0px;
        display:flex;
        justify-content: center;
    }
    .title2 H1{
        font-size: 12px;
        padding-top: 10px;
        color:rgb(0, 32, 128);
        text-shadow: 5px 5px 10px rgb(255, 71, 26);
    }
    .profissional_summary H3{
        margin-top:10px;
        display: flex;
        text-align:center;
        font-family: Quiksand;
        text-overflow: wrap;
        font-weight: 200;
        color:rgb(0, 32, 128);
        font-size: 12px;
        padding-left: 25px;
        line-height: 15px;
    
    }
    .Button{
        /* margin-top:150px; */
        /* or */
        position: relative;
        top: 100px;
        left: 50px;
        height:30px;
        width:150px;
        display: flex;
        justify-content: center;

        
    }
    .Button a{
          font-size: 8px;
    }
    .second_part{
        height:50vh;
        width:30vw;
        display: flex;
        justify-content: flex-start;
        margin-left: 0px;
        margin-top: 60px;
    
    }
    
        
}

.section3{
    height:100vh;
    width:100vw;
    border:2px solid orange;
}
.Contact_me{
    height:70vh;
    width:75vw;
    margin: 120px auto;
    background-color: rgb(255, 238, 230);
    box-shadow: 5px 5px 10px #555;
    text-align: center;
   
}
H1{
    color:rgb(0, 32, 128);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
label{
    padding-left: 100px;
    font-weight: 800;
}

.link{
    text-decoration: none;
    color: black;
}

/*Here button properties are applied from previous button,because the tage name as "button" as same. */
button{
    margin-left: 80px;
    height: 25px;
    width: 80px;
    
}
@media (min-width:350px) and (max-width:1100px){
    .section3{
        height:100vh;
        width:100%;
        border:2px solid orange;
    }
    .Contact_me{
        height:65vh;
        width:75%;
        margin: 100px auto;
        background-color: rgb(255, 238, 230);
        box-shadow: 5px 5px 10px #555;
       
    }
    button{
        margin-left: 20px;
        height: 20px;
        width: 50px;
    }
    #name_para{
    font-weight: 800;
    font-size: 15px;
} 
#email_para{
    font-weight: 800;
    font-size: 15px;
} 
#phone_para{
    font-weight: 800;
    font-size: 15px;
} 
#textarea_para{
    font-weight: 800;
    font-size: 15px;
} 

}

.section4{
    height:100vh;
    width:100vw;
    border: 2px solid orange;
}
.social_media{
    height:60vh;
    width:80vw;
    margin: 180px auto;
    background-color: rgb(255, 238, 230);
    box-shadow: 5px 5px 10px #555;
}
.social_media a{
    height:200px;
    width:200px;
    text-decoration: none;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 50px;
    transition: 1s;
    


}
.fa-linkedin{
   font-size: 200px;
   color:blue;
}
.fa-linkedin:hover{
    font-size: 200px;
    transform: scale(1.1);
    z-index: 2;
    
 
 }
.fa-facebook{
    font-size: 200px;
}
.fa-facebook:hover{
    font-size: 200px;
    transform: scale(1.1);
    z-index: 2;
    
}
.fa-instagram{
    font-size: 200px;
    color:#C13584;
                                                             
}
.fa-instagram:hover{
    font-size: 200px;
    transform: scale(1.1);
    z-index: 2;
}
.fa-x-twitter{
    font-size: 200px;
    color:black;
}
.fa-x-twitter:hover{
    font-size: 200px;
    transform: scale(1.1);
}
@media (min-width:350px) and (max-width:1100px){
    .section4{
        height:100vh;
        width:100%;
        border: 2px solid orange;
        justify-content: center;
    }
    .social_media{
        height:50vh;
        width:100%;
        margin: 150px auto;
        background-color: rgb(255, 238, 230);
        box-shadow: 5px 5px 10px #555;
    }
    .social_media a{
        height:50px;
        width:50px;
        text-decoration: none;
        padding-top: 30px;
        padding-left: 30px;
    
    
    }
    .fa-facebook{
        font-size: 50px;
    }
    .fa-linkedin{
        font-size: 50px;
        color:blue;
     }
     .fa-instagram{
        font-size: 50px;
        color:#C13584;
                                                                 
    }
    .fa-x-twitter{
        font-size: 50px;
        color:black;
    }
    .fa-linkedin:hover{
        font-size: 50px;
        transform: scale(1.1);
        z-index: 2;
        
     
     }
     .fa-facebook:hover{
        font-size: 50px;
        transform: scale(1.1);
        z-index: 2;
        
    }
    .fa-instagram:hover{
        font-size: 50px;
        transform: scale(1.1);
        z-index: 2;
    }
    .fa-x-twitter:hover{
        font-size: 50px;
        transform: scale(1.1);
    }
}
/* Javascript CSS */

.name_error{
    font-size: 14px;
    margin-left: 50px;
    color: red;
    position: relative;
    bottom: 0px;
 }

 .email_error{
    font-size: 14px;
    margin-left: 40px;
    color: red;
    position: relative;
    bottom: 0px;
 }
 .phone_error{
    font-size: 14px;
    margin-left: 80px;
    color: red;
    position: relative;
    bottom: 0px;
 }
 .text_error{
    font-size: 14px;
    margin-left: 110px;
    color: red;
    position: relative;
    top: 5px;
 }

 .border_error{
    border: 3px solid red;
}
#name_para{
    position: relative;
    bottom: 15px;
}
#email_para{
    position: relative;
    bottom: 15px;
}
#phone_para{
    position: relative;
    bottom: 15px;
    
}
/* #gender_para{
    position: relative;
    bottom: 15px;
} */
#textarea_para{
    position: relative;
    bottom: 15px;
}
.name_input_margin{
    margin-left: 20px;
}
.email_input_margin{
    margin-left: 20px;
}
.phone_input_margin{
    margin-left: 5px;
}
/* .gender_input_margin{
    margin-left: 20px;
} */
.textarea_input_margin{
    margin-left: 10px;
}
p{
    font: 20px bold;
}
#second_radio{
    margin-left: 20px;
}
textarea{
    position: relative;
    top:12px;
    padding-top: 10px;
}
/* .radio{
    margin-right: 10px;
} */